*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background:grey;
}
.landing{
    display:flex;
    justify-content: space-around;
    height: 100vh;
}
.distortion{
    width:500px;
    height:500px;
    overflow:hidden;
    position: relative;
    align-self: center;
    margin:50px;
    border: 3px solid white;
    border-radius: 50%;
}

.intro{
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.intro button {
  color:white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 30px;
  border:2px solid white;
  border-radius:50%;
  cursor: pointer;
  transition: all 0.5s ease;
  
}
.intro button:hover{
   background:white;
   color:black;
} 
 .intro button a{
    text-decoration: none;
    background:grey;
    color:white;
    border:none;
    transition:all 0.5 ease ;

}
.intro button a:hover{
    color:black;
    background:white;
} 
 